# Database
DATABASE_URL="postgresql://user:pass@localhost:5432/mydb"
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

# App
NODE_ENV=
PORT=

# JWT 
JWT_ACCESS_SECRET=
ACCESS_TOKEN_EXPIRATION=
REFRESH_TOKEN_EXPIRATION=
JWT_REFRESH_SECRET=

# DOCUSEAL API KEY
DOCUSEAL_API_KEY=
DOCUSEAL_TEMPLATE_ID=

# UPLOADTHING API KEY
UPLOADTHING_TOKEN=
# límite máximo (ej. 10MB)
MAX_PDF_SIZE_BYTES=10485760